<h1>All the Tasks</h1>
<ul>
  <%# tasks list %>
  <% @tasks.each do |task|  %>
    <%= task.completed ? "â˜‘" : "â˜" %>
    <%# <input type="checkbox" id="title" name="vehicle1" value="Bike"> %>
    <label for="title"> <%= link_to task.title, task_path(task), class: "" %></label>
    <%= link_to 'ðŸ—‘',
      task_path(task),
      # delete_task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    <br>
  <% end %>

  <%# new tasks %>
  <%= link_to '+ add a new task', new_task_path %>
</ul>
