<h1>Task details for <%= @task.title %></h1>
<div class="details">
  <%= @task.details %>
</div>
<%=  @task.completed ? "â˜‘ this task is completed" : "â˜ this task is not completed"%>
<br>
<%= link_to 'Back', tasks_path  %>
